#simon{
    position: absolute;
    width:100px;
    height:90px;
    left:285px;
    top:15px;
    background-color: rgba(52, 149, 237, 0.51);
    border-radius:10px;
    z-index:999;
    text-align:center;

}

#bureau{
    position:relative;
    width:250px;
    height:180px;
    background-color:saddlebrown;
    margin-top:50px;
    margin-left:200px;
    border:2px solid black;
}

#table1{
    position:relative;
    width:180px;
    height:250px;
    background-color: saddlebrown;
    margin-top:50px;
    margin-left:50px;
    border:2px solid black;
    text-align:center;

}

#table2{
    position:relative;
    width:180px;
    height:250px;
    background-color: saddlebrown;
    margin-top:5px;
    margin-left:50px;
    border:2px solid black;
    text-align:center;
}

#table3{
    position:relative;
    width:180px;
    height:250px;
    background-color: saddlebrown;
    margin-top:5px;
    margin-left:50px;
    border:2px solid black;
    text-align:center;
}

#table4{
    position:relative;
    width:180px;
    height:250px;
    background-color: saddlebrown;
    margin-left:50px;
    border:2px solid black;
    text-align:center;
}

#table5{
    position:relative;
    width:180px;
    height:250px;
    background-color: saddlebrown;
    margin-top:5px;
    margin-left:50px;
    border:2px solid black;
    text-align:center;
}

#table6{
    position:relative;
    width:180px;
    height:250px;
    background-color: saddlebrown;
    margin-top:5px;
    margin-left:50px;
    border:2px solid black;
    text-align:center;
}




#block2 {
    position:absolute;
    top:280px;
    left:400px;
    width:300px;
    height:800px;

}


#a{
    position:absolute;
    top:30px;
    left:-30px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.5);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;

}

#b{
    position:absolute;
    top:150px;
    left:-30px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.51);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#c{
    position:absolute;
    top:30px;
    left: 110px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.51);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#d{
    position:absolute;
    top:150px;
    left: 110px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.51);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#e{
    position:absolute;
    top:30px;
    left:-30px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.51);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#f{
    position:absolute;
    top:150px;
    left:-30px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.51);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#g{
    position:absolute;
    top:30px;
    left: 110px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.5);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#h{
    position:absolute;
    top:150px;
    left: 110px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.5);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#i{
    position:absolute;
    top:30px;
    left:-30px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.51);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#j{
    position:absolute;
    top:150px;
    left:-30px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.51);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#k{
    position:absolute;
    top:30px;
    left: 110px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.5);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#l{
    position:absolute;
    top:150px;
    left: 110px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.5);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#m{
    position:absolute;
    top:30px;
    left:-30px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.51);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#n{
    position:absolute;
    top:150px;
    left:-30px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.51);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#o{
    position:absolute;
    top:30px;
    left: 110px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.5);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#p{
    position:absolute;
    top:150px;
    left: 110px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.5);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#q{
    position:absolute;
    top:30px;
    left:-30px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.51);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#r{
    position:absolute;
    top:150px;
    left:-30px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.51);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#s{
    position:absolute;
    top:30px;
    left: 110px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.5);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#t{
    position:absolute;
    top:150px;
    left: 110px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.5);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#u{
    position:absolute;
    top:30px;
    left:-30px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.51);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#v{
    position:absolute;
    top:150px;
    left:-30px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.51);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#w{
    position:absolute;
    top:30px;
    left: 110px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.5);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

#x{
    position:absolute;
    top:150px;
    left: 110px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.5);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}


#y{
    position:absolute;
    top:30px;
    left:-30px;
    width: 100px;
    height:60px;
    background-color: rgba(52, 149, 237, 0.51);
    z-index:999;
    border-radius:10px;
    text-decoration:underline;
}

.nom{
    font-family: "Comic Sans MS";
}

.simon {
    font-family: "7 days";
    font-size:0.7em;


}