# principal {
    background-color: darkgray;
    width:600px;
    height:400px;
    border:1px solid #3495ED;
    border-radius:10px;
    margin:0;

}

#intro {


}

#contact {

}

#rs {

}

.image {

}

.titre {

}

.texte {


}

.mail {

}

.tel {


}


.linkedin{

}

.github{


}