#page {
    width:500px;
    height:600px;
    border:1px solid black;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    margin:20px;
    padding:25px;
}

#principal{

}

#image {
    float;left;
    height=200px;
    width=154px;
}

#texte {
    float:right;
}